<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="panel-title" style="font-size:30px; text-align: center;">Invoice</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
    <div class="col-lg-1">
        Rekeningen versturen
        <div class="col-lg-2">
                <input #name type="text" placeholder="Voer voornaam in" />
                <input #lastname type="text" placeholder="Voer achternaam in" />
            </div>
        <button (click)="onClickCreateInvoice(name.value, lastname.value)">Verstuur</button>
    </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-2">
                <h6>Filter</h6>
            </div>
            <div class="col-lg-2">
                <h6>Zoek optie</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-2">
                <select>
                <option value="volvo">Betaling</option>
                <option value="saab">Periode</option>
                <option value="opel">Afstand</option>
                <option value="audi">Prijs</option>
                </select>
            </div>
            <div class="col-lg-2">
                <input #textbox type="text" placeholder="Voer gebruikersnummer in" />
            </div>
            <div class="col-lg-1">
                <button (click)="onClickSelectedInvoice(textbox.value)">Zoek</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" [mfData]="data" #mf="mfDataTable">
                        <thead>
                            <th>
                                <mfDefaultSorter by="driver">ID</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="driver">Driver</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="betaald">Betaald</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="tijd">Tijd aangemaakt</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="tijd">Details</mfDefaultSorter>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of invoiceList">
                                <td>{{i.id}}</td>
                                <td>{{i.driver.name}}</td>
                                <td>{{i.paid}}</td>
                                <td>{{i.timeCreated}}</td>
                                <td> <button (click)="onClickShowInvoiceDetails(i.id)">Show details</button></td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="panel-title" style="font-size:30px; text-align: center;">Invoice Details</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" [mfData]="data" #mf="mfDataTable">
                        <thead>
                            <th>
                                <mfDefaultSorter by="driver">ID</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="driver">Prijs</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="betaald">Beschrijving</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="tijd">Voertuig</mfDefaultSorter>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of invoiceRowList">
                                <td>{{i.id}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.description}}</td>
                                <td>{{i.vehicle.licensePlate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>